{% extends 'layouts/base.html' %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container">
  <nav>
    <header class="styleguide-header">
      <h1 class="font-xl">Interactive Data &amp; Visuals &mdash; Style Guide</h1>
      <button id="menu" class="nav-button ghost-button"><i class="fa fa-bars" aria-hidden="true"></i></button>
    </header>
    <ul id="nav-options" class="nav">
      <li><a href="#colors">Colors</a></li>
      <li><a href="#logos">Trib Logos</a></li>
      <li><a href="#grid-specs">Grid Specs</a></li>
      <li><a href="#grid-mixins">Grid Mixins</a></li>
      <li><a href="#typography">Typography</a></li>
      <li><a href="#base-elements">Base Elements</a></li>
      <li><a href="#prose">Prose</a></li>
      <li><a href="#buttons">Buttons</a></li>
      <li><a href="#graphic">Graphic Theme</a></li>
      <li><a href="#tables">Tables</a></li>
    </ul>
  </nav>
  <article class="main content-block">
    {% include "sections/philosophy.html" %}
    {% include "sections/colors.html" %}
    {% include "sections/logos.html" %}
    {% include "sections/grid-specs.html" %}
    {% include "sections/grid-mixins.html" %}
    {% include "sections/typography.html" %}
    {% include "sections/base-elements.html" %}
    {% include "sections/prose.html" %}
    {% include "sections/buttons.html" %}
    {% include "sections/graphic.html" %}
    {% include "sections/tables.html" %}
  </article>
</div>
<footer class="footer">
  <div class="container">
    <div class="content-block">
    <nav class="first-nav">
      <ul>
        <li>&copy; 2015 <a href="http://www.texastribune.org/">The Texas Tribune</a></li>
      </ul>
    </nav>
    <nav class="last-nav">
      <ul>
        <li><a href="http://www.texastribune.org/about/">About Us</a></li>
        <li><a href="http://www.texastribune.org/contact/">Contact Us</a></li>
        <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
        <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
        <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
        <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
        <li class="donor-item"><a href="https://www.texastribune.org/join/">Donate</a></li>
      </ul>
    </nav>
    </div>
  </div>
</footer>
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
