$bp-guide: new-breakpoint(min-width 850px);
$bp-guide-header: new-breakpoint(min-width 600px);
$bp-guide-header-mobile: new-breakpoint(max-width 600px);

article {
  border-bottom: 1px solid $tribune-yellow;
  margin-bottom: 2em;

  &:last-child {
    border-bottom: 0;
  }
}

.main {
  @include media($bp-guide) {
    @include span-columns(10);
    @include omega();
  }

  article {
    @include clearfix;
  }

}

.fix {
  position: fixed;
  top: 0;
}

.shift {
  @include shift(2);
}

.newsapps-logo {
  @include span-columns(3);
  @include omega();
  @include clearfix;
  display: inline-block;
  margin: 0 1em 1em 0;
  max-width: 4.7em;
  text-align: left;
  width: 100%;

  @include media($bp-guide-header) {
    max-width: 5.5em;
  }
}

.row-wrapper {
  @include row();

}

.styleguide-header {
  @extend %content-block;
  @include clearfix;
  border-bottom: 2px solid $tribune-yellow;
  margin-bottom: 1em;
  padding-top: .5em;
  text-align: left;

  header {
    text-align: left;
    vertical-align: top;
  }

  h1 {
    @include font-size(80, $pct:.9, $bp:$bp-guide-header-mobile);
    font-family: league-gothic, $base-sans-serif;
    margin-bottom: .25em;
  }

  @include media($bp-guide) {
    @include shift(2);
  }
}

.teal-button {
  @include btn($teal);
}

.button,
.teal-button,
.ghost-button {
  margin-bottom: 1em;
}

.button,
.teal-button,
.ghost-button {
  margin-bottom: 1em;
}
