$bp-guide: new-breakpoint(min-width 850px);
$bp-guide-header: new-breakpoint(min-width 600px);
$bp-guide-header-mobile: new-breakpoint(max-width 600px);

.code-block {
  pre {
    background-color: $background-gray;
    display: none;
    width: 100%;
  }

  code {
    line-height: 1.3;
    padding: 0;
  }
}

code {
  background-color: $background-gray;
  border-radius: 3px;
  padding: .25em .5em;
}

.main {
  margin: 0 auto;
  max-width: 900px;

  article {
    @include clearfix;
    border-bottom: 1px solid $tribune-yellow;
    margin-bottom: 2em;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.fix {
  position: fixed;
  top: 0;
}

.newsapps-logo {
  @include clearfix;
  display: inline-block;
  margin: 0 1em 1em 0;
  max-width: 4.7em;
  text-align: left;
  width: 100%;

  @include media($bp-guide-header) {
    max-width: 5.5em;
  }
}

.styleguide-header {
  @extend %content-block;
  @include clearfix;
  border-bottom: 2px solid $tribune-yellow;
  margin-bottom: 1em;
  padding-top: .5em;
  text-align: left;

  header {
    text-align: left;
    vertical-align: top;
  }

  h1 {
    display: inline-block;
    font-family: league-gothic, $base-sans-serif;
    margin-bottom: .25em;
  }
}

.teal-button {
  @include btn($teal);
}

.button,
.teal-button,
.ghost-button {
  margin-bottom: 1em;
}
