.row {
  @include row();
}

.styleguide-header,
.main {

  @include media($default-desktop) {
    @include span-columns(9);
    @include omega();
  }

  article {
    @include clearfix;
  }

}

.styleguide-header {
  margin-top: 1em;
}

.newsapps-logo {
  @include clearfix;
  max-width: 7em;
  padding: 1em;
  text-align: center;
  width: 100%;
}


.teal-button {
  @include button($tribune-teal);
}

.button,
.teal-button {
  margin-bottom: 1em;
}

article {
  border-bottom: 1px solid $tribune-yellow;
  margin-bottom: 2em;

  &:last-child {
    border-bottom: 0;
  }
}

