.menu-btn {
  background-color: $white;
  border: 0;
  font-family: $base-sans-serif;
  text-align: left;
  padding-bottom: 1em;
  width: 100%;

  @include media($bp-guide) {
    display: none;
  }

}

#side-nav {
  display: none;
}

.side-nav {
  @include clearfix;

  ul {
    margin: 0 0 1.5em;
  }

  li {
    border-bottom: 1px solid $background-gray;
    vertical-align: middle;

    a {
      color: $bodytext-black;
      display: block;
      padding: 1em;
      text-decoration: none;
    }

    &:hover {
      background-color: transparentize($teal, .5);
      transition: padding .2s ease;
      padding-left: .25em;

    }

  }

  @include media($bp-guide) {
    @include span-columns(2);
    display: block;
  }

}
