.swatches {
  @include list-grid($default-desktop, 100, 3);

  li {
    background-color: $background-gray;
    padding: .5em;
    margin-bottom: .5em;
    text-align: center;
  }

  p {
    margin-bottom: .25em;
  }
}

.swatch {
  height: 4em;
  width: 100%;
  margin-bottom: .5em;
}
