.swatches {
  ul {
    @include clearfix;
    margin-bottom: 1em;
  }

  li {
    float: left;
    margin-bottom: .5em;
    text-align: center;
    width: 33%;
  }

  p {
    margin-bottom: .25em;
    text-align: center;
  }
}

.swatch {
  height: 4em;
  margin-bottom: .5em;
  width: 100%;

  &--wrapper {
    padding: 0 .5em 0 0;
  }
}
