{% extends "templates/_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <section class="logo">
      <img class="newsapps-logo" src="images/news_apps_logo.png"></img>
    </section>
    <section class="styleguide-header">
      <header class="content-block">
        <h1 class="font-xxl">Style Guide</h1>
        <p>Welcome to the Texas Tribune News Apps Style Guide &mdash; a constant work-in-progress.</p>
      </header>
      <hr class="yellow">
    </section>
  </div>
  <div class="row">
    <section id="side-nav" class="side-nav">
      <ul>
        <li><a href="#colors">Colors</a></li>
        <li><a href="#grid-specs">Grid Specs</a></li>
        <li><a href="#grid-mixins">Grid Mixins</a></li>
        <li><a href="#typography">Typography</a></li>
        <li><a href="#prose">Prose</a></li>
        <li><a href="#buttons">Buttons</a></li>
      </ul>
    </section>
    <section class="main content-block">
      {% include "templates/sections/colors.html" %}
      {% include "templates/sections/grid-specs.html" %}
      {% include "templates/sections/grid-mixins.html" %}
      {% include "templates/sections/typography.html" %}
      {% include "templates/sections/prose.html" %}
      {% include "templates/sections/buttons.html" %}
    </section>
  </div>
</div>

{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
