<article id="buttons">
  <header>
    <h3 class="font-xl">Buttons</h3>
  </header>
  <p>Add the <code>@mixin button($color)</code> to create any color button with the basic button styles. Button styles are not applied to the <code>&lt;button&gt;</code> tag directly. For standard buttons, use <code>.button</code>, which has <code>@mixin button($tribune-yellow)</code> included. For a ghost button, add the argument 'ghost':  <code>@mixin button($color, ghost)</code>. The class <code>.ghost-button</code> will include a teal ghost button.</p>
  <div class="code-block">
    <button class="button">Show SCSS</button>
    <pre>
      <code>
@mixin button($color, $type: null) {
  @include clearfix;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: $base-sans-serif;
  letter-spacing: .03rem;
  margin: 0 0 0.3em;
  text-align: center;
  vertical-align: middle;


  @if $type == ghost {
    background: transparent;
    border: 2px solid $color;
    color: $color;
    padding: .4em .75em .5em;
  } @else {
    background: $color;
    @if $color == $teal {
     color: $white;
    } @else {
      color: $bodytext-black;
    }
    border: 0px;
    padding: .5em .75em .625em;
  }

  &amp;:active,
  &amp;:hover {
    @if $type == ghost {
      background-color: transparentize($color, 0.95);
    } @else {
      background-color: transparentize($color, .3);
    }
  }
}

.button {
  @include button($tribune-yellow);
}

.ghost-button {
  @include button($teal, ghost);
}
      </code>
    </pre>
  </div>
  <button class="button">.button</button>
  <button class="teal-button">.teal-button</button>
  <button class="ghost-button">.ghost-button
</article>
