<article id="colors">
  <header id="colors">
    <h2 class="font-xl">Colors</h2>
  </header>

  <div class="swatches">
    <header>
      <h3 class="font-m">Tribune Colors</h3>
    </header>
    <ul>
    {% for color in TRIBUNE_COLORS %}
      <li>
        <div class="swatch" style="background-color: {{ color.rgb }}"></div>
        <p class="font-s">{{ color.name }}</p>
        <p class="font-s">{{ color.rgb }}</p>
      </li>
    {% endfor %}
    </ul>

    <header>
      <h3 class="font-m">Shades of Gray</h3>
    </header>
    <ul>
    {% for color in SHADES_GRAY %}
      <li>
        <div class="swatch" style="background-color: {{ color.rgb }}"></div>
        <p class="font-s">{{ color.name }}</p>
        <p class="font-s">{{ color.rgb }}</p>
      </li>
    {% endfor %}
    </ul>

    <header>
      <h3 class="font-m">Graphic Colors</h3>
    </header>
    <ul>
    {% for color in GRAPHIC_COLORS %}
      <li>
        <div class="swatch" style="background-color: {{ color.rgb }}"></div>
        <p class="font-s">{{ color.name }}</p>
        <p class="font-s">{{ color.rgb }}</p>
      </li>
    {% endfor %}
    </ul>
  </div>
</article>
