<article id="logos">
  <header>
    <h2 class="font-xl">Trib Logos</h2>
  </header>
  <div class="logo-darkBg">
    <figure class="horizontal-logo">
      <img src="http://apps.texastribune.org.s3.amazonaws.com/branding/TxTrib-logo-white500x55.svg">
    </figure>    
  </div>
  <ul class="carat">
    <li>Dimensions: 500x55 pixels</li>
    <li>URL: http://apps.texastribune.org.s3.amazonaws.com/branding/TxTrib-logo-white500x55.svg</li>
    <li>Demo size: Height 1em</li>
  </ul>
  <div class="logo-darkBg">
    <figure class="compact-logo">
      <img src="http://s3.amazonaws.com/apps.texastribune.org/branding/TT-logo-white.dd56ad79c0da.png">
    </figure>
  </div>
  <ul class="carat">
    <li>Dimensions: 466x234 pixels</li>
    <li>URL: http://apps.texastribune.org.s3.amazonaws.com/branding/TxTrib-logo-white500x55.svg</li>
    <li>Demo size: Width 5em</li>
  </ul>
</article>
