<article id="philosophy">
  <header>
    <h2 class="font-xl">Our Philosophy</h2>
  </header>
  <p>The goal of this style guide is to create a front-end framework to maintain consistency across News Apps projects, while giving each designer and developer the flexibility to code in their own unique and creative way. These styles provide a starting point for visual graphics and larger projects, and aren't intended to be the basis for an entire site design.</p>
  <p>Our style files are written in <a href="http://thesassway.com/editorial/sass-vs-scss-which-syntax-is-better">SCSS</a> &mdash; a Sass syntax that builds on the existing CSS syntax. With SCSS, we can use all the great features of Sass, such as @mixins, %placeholders and $variables, but can write in the more familiar (and more expressive) CSS syntax.</p>
  <p>If you're unfamiliar with Sass or SCSS, read this <a href="http://sass-lang.com/guide">guide</a> to catch up on the basics.</p>
  <p>Currently, our partial style files are broken into three folders &mdash; helpers, theme, and components. You'll find a thorough description of the partials in the helpers folder below. If you're creating a feature with additional prose styles or making a graphic, you may also want to use those partials from the theme folder. And you'll find particular styles for components, like a masthead, and footer, in the components folder.</p>
  <header>
    <h3 class="font-l">The Helpers</h3>
  </header>
  <p>Everything you need to jump start a project is contained in the helpers folder. Here's a quick explanation of each of the partials:</p>
  <header>
    <h4 class="font-base paragraph-header">_base.scss</h4>
  </header>
  <p class="explainer-text">These are the only styles applied directly to HTML elements. If you really need a clean slate, don't use this partial. It's helpful for normalizing styles and inheriting basic news apps prose styles without using additional classes.</p>
  <header>
    <h4 class="font-base paragraph-header">_buttons.scss:</h4>
  </header>
  <p class="explainer-text">Creates a button mixin, to include buttons in any color. Also allows for solid color buttons or ghost buttons, based on the arguments you insert.</p>
  <header>
    <h4 class="font-base paragraph-header">_colors.scss:</h4>
  </header>
  <p class="explainer-text">All of our colors are assigned to $variables, most of which have a descriptive name to help you decide when to use it. For example, $rep-red and $dem-blue are used for typical political party designations.</p>
  <header>
    <h4 class="font-base paragraph-header">_grid.scss:</h4>
  </header>
  <p class="explainer-text">Mixins, breakpoint variables and classes to help you build a responsive layout are included in the grid partial. Jump to <a href="#grid-specs">Grid Specs</a> to learn more about the basic structure and default grid settings, and <a href="#grid-mixins">Grid Mixins</a> to learn more about the @mixins we've created to help you implement a grid design.</p>
  <header>
    <h4 class="font-base paragraph-header">_tables.scss:</h4>
  </header>
  <p class="explainer-text">This partial contains one mixin to rule them all &mdash; i.e. all the variations of mobile table styles. Skip to <a href="#tables">Tables</a> to learn more.</p>
  <header>
    <h4 class="font-base paragraph-header">_typography.scss:</h4>
  </header>
  <p class="explainer-text">Our style guide has a modular typography system. By changing the size $variables, you can change font-sizes across the entire project. The system also allows you to designate font-size with .classes in your HTML or @extend %font-sizes on new classes.</p>
</article>
