<article id="prose" class="prose">
  <header>
    <h2 class="font-xl">Prose</h2>
  </header>
  <p>Basic prose styles, and the follow components, can be found in theme/_prose.scss.</p>
  <p>To add our basic paragraph styles to a class, <code>@extend %prose</code>. You can also wrap elements in <code>.prose</code> to apply the basic paragraph styles.</p>
  <ul>
    <li>This is a regular list of items.</li>
    <li>It doesn't have any styles applied</li>
    <li>If you want pretty styles/margins/etc. use .bullet.</li>
  </ul>
  <ul class="bullet">
    <li>This is an example of <code>&lt;ul class="bullet"></code></li>
    <li>It has nice spacing</li>
  </ul>
  <ul class="carat">
    <li>This is an example of <code>&lt;ul class="carat"></code></li>
    <li>Cause it's cute.</li>
  </ul>

  <div class="code-block">
    <button class="button">Example %prose &amp; .prose</button>
    <pre>
      <code>
        // Base Prose Theme

        // Extend for basic paragraph styles
        %prose {
          @extend %font-base;
          color: $bodytext-black;
          display: block;
          font-family: $base-serif;
          font-weight: 400;
          line-height: 1.3;
          text-align: left;

          a {
            color: $href-teal;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .prose {
          @include clearfix;

          p { @extend %prose; }

          hr {
            &.thin {
              background-color: $line-gray;
              border: 0 none;
              height: 1px;
              margin-bottom: 1em;
            }

            &.yellow {
              background-color: $tribune-yellow;
              border: 0 none;
              height: 2px;
              margin-bottom: 1em;
            }
          }

          &--block {
            border-color: $tribune-yellow;
            border-style: solid;
            border-width: 1px 0;
            margin: 0 0 1em;
            padding: 1em 0 0;
            position: relative;
          }
        }

        %caption,
        .caption {
          @extend %font-s;
          color: $text-gray;
          font-family: $base-sans-serif;
          font-weight: 400;
          margin: .25em 0;
        }

        %explainer-text,
        .explainer-text {
          background: $explainer-gray;
          color: $bodytext-black;
          font-family: $base-sans-serif;
          font-weight: 300;
          line-height: 1.3;
          margin-bottom: 1em;
          padding: 1em;
        }

        %paragraph-header,
        .paragraph-header {
          font-family: $base-sans-serif;
          font-size: .875em;
          font-weight: 700;
          letter-spacing: 1px;
          margin: 0 0 1em;
          text-transform: uppercase;
        }


        // <ul>
        .bullet,
        .carat {
          font-family: $base-sans-serif;
          font-weight: 400;
          list-style: none;
          padding: 0 1em;

          li {
            margin-bottom: .5em;

            &:last-child {
              margin-bottom: 1em;
            }
          }
        }

        .bullet {
          list-style: disc;
        }

        .carat {
          li {
            &:before {
              content: '\203A';
              font-family: $base-sans-serif;
              margin: 0 .5em 0 -1em;
              padding: 0;
            }
          }
        }

      </code>
    </pre>
  </div>


  <header id="paragraph-header">
    <h3 class="paragraph-header">Paragraph Headers</h3>
  </header>
  <p>That ^ is an example of a <code>.paragraph-header</code>. Notice it will automatically transform the text to uppercase. You can also use these styles on other elements using <code>@extend %paragraph-header</code>.</p>
  <div class="code-block">
    <button class="button">Example HTML</button>
    <pre>
      <code>
        &lt;h3 class="paragraph-header"&gt;Paragraph Headers&lt;/h3&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <button class="button">Example SCSS</button>
    <pre>
      <code>
%paragraph-header,
.paragraph-header {
  font-family: $base-sans-serif;
  font-size: .875em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 1em;
  text-transform: uppercase;
}
      </code>
    </pre>
  </div>

  <header id="explainer">
    <h3 class="font-l">Explainer Text</h3>
  </header>
  <p class="explainer-text">Use .explainer-text when you're explaining something, such as how to use the Hospitals Explorer or to define a glossary definition. You can also @extend %explainer-text to another class.</p>
  <div class="code-block">
    <button class="button">Example HTML</button>
    <pre>
      <code>
      &lt;p class="explainer-text"&gt;Text goes here&lt;/p&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <button class="button">Example SCSS</button>
    <pre>
      <code>
%explainer-text,
.explainer-text {
  background: $explainer-gray;
  color: $bodytext-black;
  font-family: $base-sans-serif;
  font-weight: 300;
  line-height: 1.3;
  padding: 1em;
  margin-bottom: 1em;
}
      </code>
    </pre>
  </div>

  <header>
    <h3 id="block-text" class="font-m">Prose Blocks</h3>
  </header>
  <p>Add <code>.prose--block</code> to elements that you want to highlight inside your prose with a yellow border on top and bottom, such as block-quotes or embedded lists. This class does not need to be wrapped inside .prose. In most cases, you'll put this type of content in an <code>&lt;aside&gt;</code>.</p>
  <p>Note: To normalize <code>&lt;aside&gt;</code> and <code>&lt;blockquote&gt;</code> margins across browsers, we've included "margin: 0 0 1em" in helpers/_base.scss.</p>
  <!-- Lists -->
  <aside class="prose--block">
    <h3 class="paragraph-header">Example List</h3>
    <ul class="bullet">
      <li>Lists are often used to call out important points.</li>
      <li>They typically begin with an .paragraph-header.</li>
      <li>Exciting stuff.</li>
    </ul>
  </aside>
  <div class="code-block">
    <button class="button">Example HTML</button>
    <pre>
      <code>
      &lt;aside class="prose--block"&gt;
        &lt;h3 class="paragraph-header"&gt;Example list&lt;/h3&gt;
        &lt;ul class="bullet"&gt;
          &lt;li&gt;One&lt;/li&gt;
          &lt;li&gt;Two&lt;/li&gt;
          &lt;li&gt;Three&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/aside&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <button class="button">Example SCSS</button>
    <pre>
      <code>
.prose--block {
  border-color: $tribune-yellow;
  border-style: solid;
  border-width: 1px 0;
  margin-bottom: 1em;
  padding: 1em 0 0;
  position: relative;
}
      </code>
    </pre>
  </div>

</article>
