<article id="prose">
  <header>
    <h2 class="font-l">Prose</h2>
  </header>
  <p>Basic prose styles, and the follow components, can be found in theme/_prose.scss.</p>
  <p>To add our basic paragraph styles to a class, @extend %prose. You can also wrap elements in .prose to apply the basic paragraph styles.</p>
  <div class="code-block">
    <div class="button">Show %prose &amp; .prose</div>
    <pre>
      <code>
        /* Base Prose Theme */
        %prose {
          @extend %font-base;
          color: $bodytext-black;
          display: block;
          font-family: $base-serif;
          font-weight: 400;
          line-height: 1.4;
          text-align: left;
        }

        // Prose Settings
        .prose {
          @extend %prose;
          @include clearfix;

          ul {
            @extend %font-s;
            font-family: $base-sans-serif;
            font-weight: 600;
            list-style: disc;
            padding: 0 1em;
          }

          li {
            margin-bottom: .5em;

            &:last-child {
              margin-bottom: 1em;
            }
          }

          img {
            width: 100%;
          }

        }
      </code>
    </pre>
  </div>

  <header id="headline">
    <h3 class="font-m">Headlines, Bylines</h3>
  </header>
  <p>Use the classes .headline and .byline for basic headlines.</p>
  <header>
    <h1 class="headline">Cat Saves Planet from Apocolypse, Dies in Action</h1>
    <p class="byline">By <a href="http://www.texastribune.org/about/staff/alexa-ura/">Captain Planet</a> | July 0, 2084</p>
  </header>
  <div class="code-block">
    <div class="button">Show HTML</div>
    <pre>
      <code>
      &lt;header&gt;
        &lt;h1 class="headline"&gt;Cat Saves Planet from Apocolypse, Dies in Action&lt;/h1&gt;
        &lt;p class="byline"&gt;By &lt;a href="http://www.texastribune.org/about/staff/alexa-ura/"&gt;Captain Planet&lt;/a&gt; | July 0, 2084&lt;/p&gt;
      &lt;/header&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <div class="button">Show CSS</div>
    <pre>
      <code>
        .headline {
          @extend %font-l;
          font-family: $base-sans-serif;
          font-weight: 600;
          margin: 1.25em 0 .6em;
        }

        .byline {
          @extend %font-s;
          font-family: $base-sans-serif;
          margin-bottom: 0;

          a {
            font-weight: 800;
          }
        }
      </code>
    </pre>
  </div>

  <header id="captions">
    <h3 class="font-m">Captions</h3>
  </header>
  <p>Captions for photos and other media elements are styled using .caption. Images within .prose will fill 100% of the available width, unless otherwise specified.</p>
  <div class="prose">
    <img src="http://placekitten.com/800/300">
    <p class="caption">This is a picture of a kitten inside a div.prose.</p>
  </div>

  <div class="code-block">
    <div class="button">Show HTML</div>
    <pre>
      <code>
        &lt;div class="prose"&gt;
          &lt;img src="http://placekitten.com/800/400"&gt;
          &lt;p class="caption"&gt;This is a picture of a kitten inside a div.prose. &lt;/p&gt;
        &lt;/div&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <div class="button">Show CSS</div>
    <pre>
      <code>
        .caption {
          @extend %font-s;
          color: $text-gray;
          font-family: $base-sans-serif;
          font-weight: 400;
          margin: .25em 0;
        }
      </code>
    </pre>
  </div>

  <header id="paragraph-header">
    <h3 class="paragraph-header">Paragraph Headers</h3>
  </header>
  <p>That ^ is an example of a .paragraph-header. Notice it will automatically transform the text to uppercase. You can also use these styles on other elements using @extend %paragraph-header.</p>
  <div class="code-block">
    <div class="button">Show HTML</div>
    <pre>
      <code>
        &lt;h3 class="paragraph-header"&gt;Paragraph Headers&lt;/h3&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <div class="button">Show CSS</div>
    <pre>
      <code>
        %paragraph-header,
        .paragraph-header {
          font-family: $base-sans-serif;
          font-size: .875em;
          font-weight: 700;
          letter-spacing: 1px;
          margin: 1em 0;
          text-transform: uppercase;
        }
      </code>
    </pre>
  </div>

  <header id="explainer">
    <h3 class="font-m">Explainer Text</h3>
  </header>
  <p class="explainer-text">Use .explainer-text when you're explaining something, such as how to use the Hospitals Explorer or to define a glossary definition. You can also @extend %explainer-text to another class.</p>
  <div class="code-block">
    <div class="button">Show HTML</div>
    <pre>
      <code>
      &lt;p class="explainer-text"&gt;Text goes here&lt;/p&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <div class="button">Show CSS</div>
    <pre>
      <code>
        %explainer-text,
        .explainer-text {
          background: $explainer-gray;
          color: $bodytext-black;
          font-family: $base-sans-serif;
          font-weight: 300;
          line-height: 1.3;
          padding: 1em;
        }
      </code>
    </pre>
  </div>

  <header>
    <h3 id="block-text" class="font-m">Prose Blocks</h3>
  </header>
  <p>Add .prose-block around elements that you want to highlight inside your prose with a yellow border on top and bottom, such as block-quotes or embedded lists. This class does not need to be wrapped inside .prose.</p>
  <!-- Lists -->
  <div class="prose-block">
    <h3 class="paragraph-header">Example list</h3>
    <ul class="bullet">
      <li>Lists are often used to call out important points.</li>
      <li>They typically begin with an .paragraph-header.</li>
      <li>Exciting stuff.</li>
    </ul>
  </div>
  <div class="code-block">
    <div class="button">Show List HTML</div>
    <pre>
      <code>
      &lt;div class="prose-block"&gt;
        &lt;h3 class="paragraph-header"&gt;Example list&lt;/h3&gt;
        &lt;ul class="bullet"&gt;
          &lt;li&gt;One&lt;/li&gt;
          &lt;li&gt;Two&lt;/li&gt;
          &lt;li&gt;Three&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <div class="button">Show .prose-block</div>
    <pre>
      <code>
        .prose-block {
          border-color: $tribune-yellow;
          border-style: solid;
          border-width: 1px 0;
          margin-bottom: calc(16rem / $base);
          position: relative;
        }
      </code>
    </pre>
  </div>

  <header id="block-quotes">
    <h3 class="font-m">Block Quotes</h3>
  </header>
  <p>Use the class .block-quote for the text of a block quote, and .block-quote-source for the attribution. Also, make sure to use HTML special characters for your quote marks! They won't be styled correctly if you forget. **Warning: The example code below is converting the special characters, so make sure to change it if you copy/paste.**</p>

  <div class="prose-block">
    <h2 class="block-quote">&ldquo;You know what&rsquo;s awesome? Cats. Cats are awesome.&rdquo;</h2>
    <p class="block-quote-source">&mdash; Becca Aaronson, cat enthusiast</p>
  </div>
  <div class="code-block">
    <div class="button">Show HTML</div>
    <pre>
      <code>
      &lt;div class="prose-block"&gt;
        &lt;h2 class="block-quote"&gt;&ldquo;You know what&rsquo;s awesome? Cats. Cats are awesome.&rdquo;&lt;/h2&gt;
        &lt;p class="block-quote-source"&gt;&mdash; Becca Aaronson, cat enthusiast&lt;/p&gt;
      &lt;/div&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <div class="button">Show .block-quote .block-quote-source</div>
    <pre>
      <code>
      .block-quote {
        @extend %font-m;
        font-family: $base-serif;
        font-style: italic;
        font-weight: 700;
        line-height: 1.2em;
        margin: 1em .5em;
        position: relative;
        text-align: left;
      }

      .block-quote-source {
        @extend %font-base;
        font-family: $base-sans-serif;
        font-weight: 300;
        margin: 1em .5em;
      }
      </code>
    </pre>
  </div>

  <header>
    <div class="font-m">Select &amp; Input</div>
  </header>
  <p>The classes .prose and .graphic include base styles for &lt;select&gt; and &lt;input&gt; fields. If you add these elements outside of .prose or .graphic, they will not have any styles applied.</p>
  <div class="prose">
    <select class="full-width">
      <option>One</option>
      <option>Two</option>
      <option>Three</option>
    </select>

    <form action="demo_form.asp">
      <input type="text" name="FirstName" placeholder="Hello world!">
      <input type="submit" value="Submit" class="button">
    </form>
  </div>


</article>
