<article id="prose">
  <header>
    <h2 class="font-xl">Prose</h2>
  </header>
  <p>Basic prose styles, and the follow components, can be found in theme/_prose.scss.</p>
  <p>To add our basic paragraph styles to a class, <code>@extend %prose</code>. You can also wrap elements in <code>.prose</code> to apply the basic paragraph styles.</p>
  <div class="code-block">
    <button class="button">Example %prose &amp; .prose</button>
    <pre>
      <code>
/* Base Prose Theme */
%prose {
  @extend %font-base;
  color: $bodytext-black;
  display: block;
  font-family: $base-serif;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}

.prose {
  @extend %prose;
  @include clearfix;

  ul {
    @extend %font-s;
    font-family: $base-sans-serif;
    font-weight: 600;
    list-style: disc;
    padding: 0 1em;
  }

  li {
    margin-bottom: .5em;

    &amp;:last-child {
      margin-bottom: 1em;
    }
  }

}
      </code>
    </pre>
  </div>

  <header id="headline">
    <h3 class="font-l">Headlines, Bylines</h3>
  </header>
  <p>Use the classes <code>.headline</code> and <code>.byline</code> for basic headlines.</p>
  <header>
    <h1 class="headline">Cat Saves Planet from Apocolypse, Dies in Action</h1>
    <p class="byline">By <a href="http://www.texastribune.org/about/staff/alexa-ura/">Captain Planet</a> | July 0, 2084</p>
  </header>
  <div class="code-block">
    <button class="button">Example HTML</button>
    <pre>
      <code>
      &lt;header&gt;
        &lt;h1 class="headline"&gt;Cat Saves Planet from Apocolypse, Dies in Action&lt;/h1&gt;
        &lt;p class="byline"&gt;By &lt;a href="http://www.texastribune.org/about/staff/alexa-ura/"&gt;Captain Planet&lt;/a&gt; | July 0, 2084&lt;/p&gt;
      &lt;/header&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <button class="button">Example SCSS</button>
    <pre>
      <code>
.headline {
  @extend %font-l;
  font-family: $base-sans-serif;
  font-weight: 600;
  margin: 1.25em 0 .6em;
}

.byline {
  @extend %font-s;
  font-family: $base-sans-serif;
  margin-bottom: 1em;

  a {
    font-weight: 800;
  }
}

      </code>
    </pre>
  </div>

  <header id="captions">
    <h3 class="font-l">Captions</h3>
  </header>
  <p>Captions for photos and other media elements are styled using <code>.caption</code>. Images within .prose will fill 100% of the available width, unless otherwise specified.</p>
  <figure class="prose">
    <img src="http://placekitten.com/g/500/300">
    <figcaption class="caption">This is a picture of a kitten inside a figure.prose.</figcaption>
  </figure>

  <div class="code-block">
    <button class="button">Example HTML</button>
    <pre>
      <code>
      &lt;figure class="prose"&gt;
        &lt;img src="http://placekitten.com/g/500/300"&gt;
        &lt;figcaption class="caption"&gt;This is a picture of a kitten inside a figure.prose.&lt;/figcaption&gt;
      &lt;/figure&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <button class="button">Example SCSS</button>
    <pre>
      <code>
%caption,
.caption {
  @extend %font-s;
  color: $text-gray;
  font-family: $base-sans-serif;
  font-weight: 400;
  margin: .25em 0;
}
      </code>
    </pre>
  </div>

  <header id="paragraph-header">
    <h3 class="paragraph-header">Paragraph Headers</h3>
  </header>
  <p>That ^ is an example of a <code>.paragraph-header</code>. Notice it will automatically transform the text to uppercase. You can also use these styles on other elements using <code>@extend %paragraph-header</code>.</p>
  <div class="code-block">
    <button class="button">Example HTML</button>
    <pre>
      <code>
        &lt;h3 class="paragraph-header"&gt;Paragraph Headers&lt;/h3&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <button class="button">Example SCSS</button>
    <pre>
      <code>
%paragraph-header,
.paragraph-header {
  font-family: $base-sans-serif;
  font-size: .875em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 1em;
  text-transform: uppercase;
}
      </code>
    </pre>
  </div>

  <header id="explainer">
    <h3 class="font-l">Explainer Text</h3>
  </header>
  <p class="explainer-text">Use .explainer-text when you're explaining something, such as how to use the Hospitals Explorer or to define a glossary definition. You can also @extend %explainer-text to another class.</p>
  <div class="code-block">
    <button class="button">Example HTML</button>
    <pre>
      <code>
      &lt;p class="explainer-text"&gt;Text goes here&lt;/p&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <button class="button">Example SCSS</button>
    <pre>
      <code>
%explainer-text,
.explainer-text {
  background: $explainer-gray;
  color: $bodytext-black;
  font-family: $base-sans-serif;
  font-weight: 300;
  line-height: 1.3;
  padding: 1em;
  margin-bottom: 1em;
}
      </code>
    </pre>
  </div>

  <header>
    <h3 id="block-text" class="font-m">Prose Blocks</h3>
  </header>
  <p>Add <code>.prose-block</code> to elements that you want to highlight inside your prose with a yellow border on top and bottom, such as block-quotes or embedded lists. This class does not need to be wrapped inside .prose. In most cases, you'll put this type of content in an <code>&lt;aside&gt;</code>.</p>
  <p>Note: To normalize <code>&lt;aside&gt;</code> and <code>&lt;blockquote&gt;</code> margins across browsers, we've included "margin: 0 0 1em" in helpers/_base.scss.</p>
  <!-- Lists -->
  <aside class="prose-block">
    <h3 class="paragraph-header">Example List</h3>
    <ul class="bullet">
      <li>Lists are often used to call out important points.</li>
      <li>They typically begin with an .paragraph-header.</li>
      <li>Exciting stuff.</li>
    </ul>
  </aside>
  <div class="code-block">
    <button class="button">Example HTML</button>
    <pre>
      <code>
      &lt;aside class="prose-block"&gt;
        &lt;h3 class="paragraph-header"&gt;Example list&lt;/h3&gt;
        &lt;ul class="bullet"&gt;
          &lt;li&gt;One&lt;/li&gt;
          &lt;li&gt;Two&lt;/li&gt;
          &lt;li&gt;Three&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/aside&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <button class="button">Example SCSS</button>
    <pre>
      <code>
.prose-block {
  border-color: $tribune-yellow;
  border-style: solid;
  border-width: 1px 0;
  margin-bottom: 1em;
  padding: 1em 0 0;
  position: relative;
}
      </code>
    </pre>
  </div>

  <header id="block-quotes">
    <h3 class="font-l">Block Quotes</h3>
  </header>
  <p>Use a <code>.blockquote</code> for the text of a block quote, and .blockquote-source for the attribution. You can include the block quote in an <code>&lt;aside&gt;</code> or <code>&lt;blockquote&gt;</code> &mdash; whichever you prefer. We recommending using <code>&lt;q&gt;</code> for your quotes to ensure the browser applies curled double-quotations. If you use a <code>&lt;p class="blockquote"&gt;</code>, remember to include HTML ASCII characters for curled double quotations on either end of the text.</p>
  <p>Below are two examples of block quotes. The first is an <code>&lt;aside class="prose-block"&gt;</code> with &<code>lt;q class="blockquote"&gt;</code>. The second is a <code>&lt;blockquote class="prose-block"&gt;</code> with <code>&lt;p class="blockquote"&gt;</code>:</p>
  <aside class="prose-block">
    <q class="blockquote">You know what&rsquo;s awesome? Cats. Cats are awesome.</q>
    <p class="blockquote-source">&mdash; Becca Aaronson, cat enthusiast</p>
  </aside>
  <blockquote class="prose-block">
    <p class="blockquote">&ldquo;You know what&rsquo;s awesome? Cats. Cats are awesome.&rdquo;</p>
    <p class="blockquote-source">&mdash; Becca Aaronson, cat enthusiast</p>
  </blockquote>
  <div class="code-block">
    <button class="button">Example HTML</button>
    <pre>
      <code>
      // Example 1
      &lt;aside class="prose-block"&gt;
        &lt;q class="blockquote"&gt;You know what&rsquo;s awesome? Cats. Cats are awesome.&lt;/q&gt;
        &lt;p class="blockquote-source"&gt;&mdash; Becca Aaronson, cat enthusiast&lt;/p&gt;
      &lt;/aside&gt;

      // Example 2
      &lt;blockquote class="prose-block"&gt;
        &lt;p class="blockquote"&gt;&ldquo;You know what&rsquo;s awesome? Cats. Cats are awesome.&rdquo;&lt;/p&gt;
        &lt;p class="blockquote-source"&gt;&mdash; Becca Aaronson, cat enthusiast&lt;/p&gt;
      &lt;/blockquote&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <button class="button">Example SCSS</button>
    <pre>
      <code>
.blockquote {
  @extend %font-m;
  font-family: $base-serif;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
  text-align: left;
}

q.blockquote {
  display: block;
}

.blockquote-source {
  @extend %font-base;
  font-family: $base-sans-serif;
  font-weight: 300;
}
      </code>
    </pre>
  </div>

</article>
