<article id="tables">
  <header>
    <h2 class="font-xl">Tables</h2>
  </header>
  <p>The <code>@mixin responsive-table()</code> has a variety of options to help build the perfect responsive table for your needs. When the table converts to a mobile-view, you can either display the headers as blocks (default) or inline with the cell value (and change the width of the header). You can also choose to hide the first row header and convert the cell value to header styles (default) or show the header.</p>
  <div class="code-block">
    <button class="button">Show @mixin responsive-table()</button>
    <pre>
      <code>
@mixin responsive-table($bp-table:$default-mobile, $hide-first-th:true, $mobile-header-type:block, $mobile-header-width:30%) {
  font-family: $base-sans-serif;
  margin-bottom: 1em;
  width: 100%;

  @include media($bp-table) {
    border-top: 1px solid $line-gray;
    display: block;
    font-size: .875em;
  }

  thead {
    @include media($bp-table) {
      display: none;
    }
  }

  tbody {
    @include media($bp-table) {
      display: block;
    }
  }

  th,
  td {
    &amp;:last-child,
    &amp;.table-prose {
      text-align: left;
    }

    &amp;:last-child,
    &amp;.table-number {
      text-align: right;

      @include media($bp-table) {
        text-align: left;
      }
    }
  }

  th {
    border-bottom: 1px solid $line-gray;
    font-size: .9em;
    font-weight: 800;
    padding: 0 12px 8px;
    text-align: left;
    vertical-align: middle;

    @include media($bp-table) {
      display: block;
    }
  }

  td {
    font-size: .875em;
    padding: 8px 12px;
    text-align: left;

    @include media($bp-table) {
      @include clearfix;
      display: block;
      font-weight: 300;
      padding: 0 12px 8px;
      text-align: left;

      @if attr(data-title) {
        &amp;:before {
          content: attr(data-title) '\A';
          display: block;
          font-weight: 800;
          margin-bottom: .5em;
          white-space: pre-wrap;
        }
      }

      &amp;:first-child {
        padding-top: 1em;
      }

      @if $hide-first-th {

        &amp;:first-child {
          font-size: 1em;
          font-weight: 800;
          padding-top: 8px;
        }

        &amp;[data-title] {
          &amp;:first-child:before {
            content: none;
          }
        }
      }

      @if $mobile-header-type == inline-block {

        &amp;:before {
          float: left;
          display: inline-block;
          margin: 0 1em .25em 0;
          width: $mobile-header-width;
        }
      }

    }
  }

  tr {
    &amp;:nth-child(odd) td {
      background-color: $background-gray;

      &amp;.highlight {
        background-color: none;
        background-color: transparentize($tribune-yellow, .75);
        font-weight: 600;
      }
    }

    @include media($bp-table) {
      display: block;
    }
  }

  // Include .highlight to bring attention an entire row
  // such as the total values or current year
  tr {
    &amp;.highlight {
      background-color: transparentize($tribune-yellow, .75);
      font-weight: 600;

      &amp;:nth-child(odd) td {
        background-color: transparentize($tribune-yellow, .75);
      }
    }

    td {
      padding-top: .5em;
    }

  }

  td {
    &amp;.highlight {
      background-color: transparentize($tribune-yellow, .75);
      font-weight: 600;

      @include media($bp-table) {
        padding-top: 1em;
      }
    }
  }
}
      </code>
    </pre>
  </div>
  <div class="explainer-text">
  <header>
    <h3 class="font-m">For optimal use, you may need to include the following attributes in your table HTML:</h3>
  </header>
    <ul class="carat">
      <li>.highlight: Add to &lt;th&gt; or &lt;td&gt; to highlight a row or cell value</li>
      <li>data-title="Header Name":  Add to &lt;td&gt; to designate the "Header Name" text that will appear on mobile views.</li>
      <li>class="table-prose": Add to &lt;th&gt; or &lt;td&gt; to ensure text aligns left</li>
      <li>class="table-number": Add to &lt;th&gt; or &lt;td&gt; to ensure numbers align right</li>
    </ul>
  </div>
  <h3 class="paragraph-header">Default settings</h3>
  <pre>
    <code>
    @mixin responsive-table(
      $bp-table:$default-mobile,
      $hide-first-th:true,
      $mobile-header-type:block,
      $mobile-header-width:30%
    )
    </code>
  </pre>
  <p>We've included four classes with the primary table settings, which you can preview below. Here's a more thorough description of the @mixin's variables and default settings:</p>
  <div class="explainer-text">
  <header>
    <h3 class="font-base"><span class="paragraph-header">$bp-table:</span> Breakpoint to switch to mobile styles</h3>
  </header>
  <ul class="carat">
    <li>Accepts = media query</li>
    <li>Default value = $default-mobile</li>
  </ul>
  <header>
    <h3 class="font-base"><span class="paragraph-header">$hide-first-th:</span> Hides data-title/header info for the first &lt;td&gt; and converts cell value to header styles</h3>
  </header>
  <ul class="carat">
    <li>Accepts = Boolean</li>
    <li>Default = True</li>
  </ul>
  <header>
    <h3 class="font-base"><span class="paragraph-header">$mobile-header-type:</span> Display data-titles inline-block or block</h3>
  </header>
  <ul class="carat">
    <li>Accepts = inline-block or block</li>
    <li>Default = block</li>
  </ul>
  <header>
    <h3 class="font-base"><span class="paragraph-header">$mobile-header-width:</span> For inline-block data-titles, you can change the width of the header</h3>
  </header>
  <ul class="carat">
    <li>Accepts = Number/Percent for width attribute</li>
    <li>Default = 30%</li>
  </ul>
  </div>
  <article class="table-example">
    <header>
      <h3 class="font-l"><code>.responsive</code></h3>
    </header>
    <table class="responsive">
      <thead>
        <tr>
          <th>First child</th>
          <th>Default</th>
          <th>Default</th>
          <th class="table-prose">Prose</th>
          <th class="table-number">Number</th>
          <th>Last Child</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="Header 1">Apple</td>
          <td data-title="Header 2">Banana</td>
          <td data-title="What if a header title is really, really long?">Pineapple</td>
          <td class="table-prose" data-title="Prose">This is an example sentence.</td>
          <td class="table-number" data-title="Number">4,000,000</td>
          <td data-title="Last child">End</td>
        </tr>
        <tr>
          <td data-title="Header 1">Rock</td>
          <td data-title="Header 2">Paper</td>
          <td>Scissors</td>
          <td class="table-prose" data-title="Prose">This is an example sentence. But what if there's a really long, descriptive paragraph. And we need to include lots of space for it, just in case someone wants to read the whole darn thing.</td>
          <td class="table-number" data-title="Number">$2,000</td>
          <td data-title="Last child">End</td>
        </tr>
        <tr class="highlight">
          <td data-title="Header 1">Blue</td>
          <td data-title="Header 2">Red</td>
          <td>Green</td>
          <td class="table-prose" data-title="Prose">This is an example sentence.</td>
          <td class="table-number" data-title="Number">14</td>
          <td data-title="Last child">End</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <button class="button">Sample HTML</button>
      <pre>
        <code>
          &lt;table class="responsive"&gt;
            &lt;thead&gt;
              &lt;tr&gt;
                &lt;th&gt;First child&lt;/th&gt;
                &lt;th&gt;Default&lt;/th&gt;
                &lt;th&gt;Default&lt;/th&gt;
                &lt;th class="table-prose"&gt;Prose&lt;/th&gt;
                &lt;th class="table-number"&gt;Number&lt;/th&gt;
                &lt;th&gt;Last Child&lt;/th&gt;
              &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
              &lt;tr&gt;
                &lt;td data-title="Header 1"&gt;Apple&lt;/td&gt;
                &lt;td data-title="Header 2"&gt;Banana&lt;/td&gt;
                &lt;td data-title="What if a header title is really, really long?"&gt;Pineapple&lt;/td&gt;
                &lt;td class="table-prose" data-title="Prose"&gt;This is an example sentence.&lt;/td&gt;
                &lt;td class="table-number" data-title="Number"&gt;4,000,000&lt;/td&gt;
                &lt;td data-title="Last child"&gt;End&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                &lt;td data-title="Header 1"&gt;Rock&lt;/td&gt;
                &lt;td data-title="Header 2"&gt;Paper&lt;/td&gt;
                &lt;td&gt;Scissors&lt;/td&gt;
                &lt;td class="table-prose" data-title="Prose"&gt;This is an example sentence. But what if there's a really long, descriptive paragraph. And we need to include lots of space for it, just in case someone wants to read the whole darn thing.&lt;/td&gt;
                &lt;td class="table-number" data-title="Number"&gt;$2,000&lt;/td&gt;
                &lt;td data-title="Last child"&gt;End&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr class="highlight"&gt;
                &lt;td data-title="Header 1"&gt;Blue&lt;/td&gt;
                &lt;td data-title="Header 2"&gt;Red&lt;/td&gt;
                &lt;td&gt;Green&lt;/td&gt;
                &lt;td class="table-prose" data-title="Prose"&gt;This is an example sentence.&lt;/td&gt;
                &lt;td class="table-number" data-title="Number"&gt;14&lt;/td&gt;
                &lt;td data-title="Last child"&gt;End&lt;/td&gt;
              &lt;/tr&gt;
            &lt;/tbody&gt;
          &lt;/table&gt;
        </code>
      </pre>
    </div>
    <div class="code-block">
      <button class="button">Show @mixin</button>
      <pre>
        <code>
        // + Transforms first data cell to header on mobile
        // + Display mobile headers as blocks
        table.responsive {
          @include responsive-table();
        }
        </code>
      </pre>
    </div>
  </article>
  <article class="table-example">
    <header>
      <h3 class="font-l"><code>.inline</code></h3>
    </header>
    <table class="inline">
      <thead>
        <tr>
          <th>First child</th>
          <th>Default</th>
          <th>Default</th>
          <th class="table-prose">Prose</th>
          <th class="table-number">Number</th>
          <th>Last Child</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="Header 1">Apple</td>
          <td data-title="Header 2">Banana</td>
          <td data-title="What if a header title is really, really long?">Pineapple</td>
          <td class="table-prose" data-title="Prose">This is an example sentence.</td>
          <td class="table-number" data-title="Number">4,000,000</td>
          <td data-title="Last child">End</td>
        </tr>
        <tr>
          <td data-title="Header 1">Rock</td>
          <td data-title="Header 2">Paper</td>
          <td data-title="Header 3">Scissors</td>
          <td class="table-prose" data-title="Prose">This is an example sentence. But what if there's a really long, descriptive paragraph. And we need to include lots of space for it, just in case someone wants to read the whole darn thing.</td>
          <td class="table-number" data-title="Number">$2,000</td>
          <td data-title="Last child">End</td>
        </tr>
        <tr>
          <td data-title="Header 1">Blue</td>
          <td data-title="Header 2">Red</td>
          <td data-title="Header 3">Green</td>
          <td class="table-prose" data-title="Prose">This is an example sentence.</td>
          <td class="table-number" data-title="Number">14</td>
          <td data-title="Last child">End</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <button class="button">Sample HTML</button>
      <pre>
        <code>
        &lt;table class="inline"&gt;
          &lt;thead&gt;
            &lt;tr&gt;
              &lt;th&gt;First child&lt;/th&gt;
              &lt;th&gt;Default&lt;/th&gt;
              &lt;th&gt;Default&lt;/th&gt;
              &lt;th class="table-prose"&gt;Prose&lt;/th&gt;
              &lt;th class="table-number"&gt;Number&lt;/th&gt;
              &lt;th&gt;Last Child&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td data-title="Header 1"&gt;Apple&lt;/td&gt;
              &lt;td data-title="Header 2"&gt;Banana&lt;/td&gt;
              &lt;td data-title="What if a header title is really, really long?"&gt;Pineapple&lt;/td&gt;
              &lt;td class="table-prose" data-title="Prose"&gt;This is an example sentence.&lt;/td&gt;
              &lt;td class="table-number" data-title="Number"&gt;4,000,000&lt;/td&gt;
              &lt;td data-title="Last child"&gt;End&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td data-title="Header 1"&gt;Rock&lt;/td&gt;
              &lt;td data-title="Header 2"&gt;Paper&lt;/td&gt;
              &lt;td data-title="Header 3"&gt;Scissors&lt;/td&gt;
              &lt;td class="table-prose" data-title="Prose"&gt;This is an example sentence. But what if there's a really long, descriptive paragraph. And we need to include lots of space for it, just in case someone wants to read the whole darn thing.&lt;/td&gt;
              &lt;td class="table-number" data-title="Number"&gt;$2,000&lt;/td&gt;
              &lt;td data-title="Last child"&gt;End&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td data-title="Header 1"&gt;Blue&lt;/td&gt;
              &lt;td data-title="Header 2"&gt;Red&lt;/td&gt;
              &lt;td data-title="Header 3"&gt;Green&lt;/td&gt;
              &lt;td class="table-prose" data-title="Prose"&gt;This is an example sentence.&lt;/td&gt;
              &lt;td class="table-number" data-title="Number"&gt;14&lt;/td&gt;
              &lt;td data-title="Last child"&gt;End&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
        &lt;/table&gt;
        </code>
      </pre>
    </div>
    <div class="code-block">
      <button class="button">Show @mixin</button>
      <pre>
        <code>
        // + Transforms first data cell to header on mobile
        // + Display mobile headers inline, 30% width
        table.inline {
          @include responsive-table($mobile-header-type:inline-block);
        }
        </code>
      </pre>
    </div>
  </article>
  <article class="table-example">
    <header>
      <h3 class="font-l"><code>.show-first-th</code></h3>
    </header>
    <table class="show-first-th">
      <thead>
        <tr>
          <th>First child</th>
          <th>Default</th>
          <th>Default</th>
          <th class="table-prose">Prose</th>
          <th class="table-number">Number</th>
          <th>Last Child</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="Header 1">Apple</td>
          <td data-title="Header 2">Banana</td>
          <td data-title="What if a header title is really, really long?">Pineapple</td>
          <td class="table-prose" data-title="Prose">This is an example sentence.</td>
          <td class="table-number" data-title="Number">4,000,000</td>
          <td data-title="Last child">End</td>
        </tr>
        <tr>
          <td data-title="Header 1">Rock</td>
          <td data-title="Header 2">Paper</td>
          <td data-title="Header 3">Scissors</td>
          <td class="table-prose" data-title="Prose">This is an example sentence. But what if there's a really long, descriptive paragraph. And we need to include lots of space for it, just in case someone wants to read the whole darn thing.</td>
          <td class="table-number" data-title="Number">$2,000</td>
          <td data-title="Last child">End</td>
        </tr>
        <tr>
          <td data-title="Header 1">Blue</td>
          <td data-title="Header 2">Red</td>
          <td data-title="Header 3">Green</td>
          <td class="table-prose" data-title="Prose">This is an example sentence.</td>
          <td class="table-number" data-title="Number">14</td>
          <td data-title="Last child">End</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <button class="button">Sample HTML</button>
      <pre>
        <code>
        &lt;table class="show-first-th"&gt;
          &lt;thead&gt;
            &lt;tr&gt;
              &lt;th&gt;First child&lt;/th&gt;
              &lt;th&gt;Default&lt;/th&gt;
              &lt;th&gt;Default&lt;/th&gt;
              &lt;th class="table-prose"&gt;Prose&lt;/th&gt;
              &lt;th class="table-number"&gt;Number&lt;/th&gt;
              &lt;th&gt;Last Child&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td data-title="Header 1"&gt;Apple&lt;/td&gt;
              &lt;td data-title="Header 2"&gt;Banana&lt;/td&gt;
              &lt;td data-title="What if a header title is really, really long?"&gt;Pineapple&lt;/td&gt;
              &lt;td class="table-prose" data-title="Prose"&gt;This is an example sentence.&lt;/td&gt;
              &lt;td class="table-number" data-title="Number"&gt;4,000,000&lt;/td&gt;
              &lt;td data-title="Last child"&gt;End&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td data-title="Header 1"&gt;Rock&lt;/td&gt;
              &lt;td data-title="Header 2"&gt;Paper&lt;/td&gt;
              &lt;td data-title="Header 3"&gt;Scissors&lt;/td&gt;
              &lt;td class="table-prose" data-title="Prose"&gt;This is an example sentence. But what if there's a really long, descriptive paragraph. And we need to include lots of space for it, just in case someone wants to read the whole darn thing.&lt;/td&gt;
              &lt;td class="table-number" data-title="Number"&gt;$2,000&lt;/td&gt;
              &lt;td data-title="Last child"&gt;End&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td data-title="Header 1"&gt;Blue&lt;/td&gt;
              &lt;td data-title="Header 2"&gt;Red&lt;/td&gt;
              &lt;td data-title="Header 3"&gt;Green&lt;/td&gt;
              &lt;td class="table-prose" data-title="Prose"&gt;This is an example sentence.&lt;/td&gt;
              &lt;td class="table-number" data-title="Number"&gt;14&lt;/td&gt;
              &lt;td data-title="Last child"&gt;End&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
        &lt;/table&gt;
        </code>
      </pre>
    </div>
    <div class="code-block">
      <button class="button">Show @mixin</button>
      <pre>
        <code>
        // + Includes all data-title headers on mobile
        // + Display mobile headers as blocks
        table.show-first-th {
          @include responsive-table($hide-first-th:false);
        }
        </code>
      </pre>
    </div>
  </article>
  <article class="table-example">
    <header>
      <h3 class="font-l"><code>.inline-show-first-th</code></h3>
    </header>
    <table class="inline-show-first-th">
      <thead>
        <tr>
          <th>First child</th>
          <th>Default</th>
          <th>Default</th>
          <th class="table-prose">Prose</th>
          <th class="table-prose">Number</th>
          <th>Last Child</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="Header 1">Apple</td>
          <td data-title="Header 2" class="highlight">Banana</td>
          <td data-title="What if a header title is really, really long?">Pineapple</td>
          <td class="table-prose" data-title="Prose">This is an example sentence.</td>
          <td class="table-number" data-title="Number">4,000,000</td>
          <td data-title="Last child">End</td>
        </tr>
        <tr>
          <td data-title="Header 1">Rock</td>
          <td data-title="Header 2">Paper</td>
          <td data-title="Header 3">Scissors</td>
          <td class="table-prose" data-title="Prose">This is an example sentence. But what if there's a really long, descriptive paragraph. And we need to include lots of space for it, just in case someone wants to read the whole darn thing.</td>
          <td class="table-number" data-title="Number">$2,000</td>
          <td data-title="Last child">End</td>
        </tr>
        <tr>
          <td data-title="Header 1">Blue</td>
          <td data-title="Header 2">Red</td>
          <td data-title="Header 3">Green</td>
          <td class="table-prose" data-title="Prose">This is an example sentence.</td>
          <td class="table-number" data-title="Number">14</td>
          <td data-title="Last child">End</td>
        </tr>
      </tbody>
    </table>
    <div class="code-block">
      <button class="button">Sample HTML</button>
      <pre>
        <code>
        &lt;table class="inline-show-first-th"&gt;
          &lt;thead&gt;
            &lt;tr&gt;
              &lt;th&gt;First child&lt;/th&gt;
              &lt;th&gt;Default&lt;/th&gt;
              &lt;th&gt;Default&lt;/th&gt;
              &lt;th class="table-prose"&gt;Prose&lt;/th&gt;
              &lt;th class="table-number"&gt;Number&lt;/th&gt;
              &lt;th&gt;Last Child&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td data-title="Header 1"&gt;Apple&lt;/td&gt;
              &lt;td data-title="Header 2" class="highlight"&gt;Banana&lt;/td&gt;
              &lt;td data-title="What if a header title is really, really long?"&gt;Pineapple&lt;/td&gt;
              &lt;td class="table-prose" data-title="Prose"&gt;This is an example sentence.&lt;/td&gt;
              &lt;td class="table-number" data-title="Number"&gt;4,000,000&lt;/td&gt;
              &lt;td data-title="Last child"&gt;End&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td data-title="Header 1"&gt;Rock&lt;/td&gt;
              &lt;td data-title="Header 2"&gt;Paper&lt;/td&gt;
              &lt;td data-title="Header 3"&gt;Scissors&lt;/td&gt;
              &lt;td class="table-prose" data-title="Prose"&gt;This is an example sentence. But what if there's a really long, descriptive paragraph. And we need to include lots of space for it, just in case someone wants to read the whole darn thing.&lt;/td&gt;
              &lt;td class="table-number" data-title="Number"&gt;$2,000&lt;/td&gt;
              &lt;td data-title="Last child"&gt;End&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td data-title="Header 1"&gt;Blue&lt;/td&gt;
              &lt;td data-title="Header 2"&gt;Red&lt;/td&gt;
              &lt;td data-title="Header 3"&gt;Green&lt;/td&gt;
              &lt;td class="table-prose" data-title="Prose"&gt;This is an example sentence.&lt;/td&gt;
              &lt;td class="table-number" data-title="Number"&gt;14&lt;/td&gt;
              &lt;td data-title="Last child"&gt;End&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
        &lt;/table&gt;
        </code>
      </pre>
    </div>
    <div class="code-block">
      <button class="button">Show @mixin()</button>
      <pre>
        <code>
        // + Includes all data-title headers on mobile
        // + Display mobile headers inline, 30% width
        table.inline-show-first-th {
          @include responsive-table($hide-first-th:false, $mobile-header-type:inline-block);
        }
        </code>
      </pre>
    </div>
  </article>
</article>
