<article id="tables">
  <header>
    <h2 class="font-xl">Tables</h2>
  </header>

  <table class="responsive">
    <thead>
      <tr>
        <th>First child</th>
        <th>Default</th>
        <th>Default</th>
        <th data-type="prose">Prose</th>
        <th data-type="number">Number</th>
        <th>Last Child</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-title="Header 1">Apple</td>
        <td data-title="Header 2">Banana</td>
        <td data-title="What if a header title is really, really long?">Pineapple</td>
        <td data-title="Prose" data-type="prose">This is an example sentence.</td>
        <td data-title="Number" data-type="number">4,00,000</td>
        <td data-title="Last child">End</td>
      </tr>
      <tr>
        <td data-title="Header 1">Rock</td>
        <td data-title="Header 2">Paper</td>
        <td data-title="Header 3">Scissors</td>
        <td data-title="Prose" data-type="prose">This is an example sentence. But what if there's a really long, descriptive paragraph. And we need to include lots of space for it, just in case someone wants to read the whole darn thing.</td>
        <td data-title="Number" data-type="number">$2,000</td>
        <td data-title="Last child">End</td>
      </tr>
      <tr>
        <td data-title="Header 1">Blue</td>
        <td data-title="Header 2">Red</td>
        <td data-title="Header 3">Green</td>
        <td data-title="Prose" data-type="prose">This is an example sentence.</td>
        <td data-title="Number" data-type="number">14</td>
        <td data-title="Last child">End</td>
      </tr>
    </tbody>
  </table>

</article>
