<article id="typography">
  <header>
    <h2 class="font-xl">Typography</h2>
  </header>
  <p>Typography styles can be found in helpers/_typography.scss. Georgia is our $base-serif font, and Helvetica Neue is our $base-sans-serif.</p>
  <header id="font-sizes">
    <h3 class="font-m">Font-Sizes</h3>
  </header>
  <p>The $base font-size is 16px. In addition, there are six preset font-sizes assigned to the variables $xxl, $xl, $l, $m, $s, $xs. Those sizes correspond to the number of HTML header elements, but &lt;h1&gt;-&lt;h6&gt; do not have any assigned font-sizes. For flexibility, we've created a series of font-size classes that can be assigned to any element and %placeholders that can be extended to additional classes. For example, you may add the class .font-xxl to an &lt;h1&gt; element, @extend %font-xxl to all &lt;h1&gt; elements, or create a new class, .project-header with @extend %font-xxl.</p>

  <h1 class="font-xxl">This is a class .font-xxl</h1>
  <h2 class="font-xl">This is a class .font-xl</h2>
  <h3 class="font-l">This is a class .font-l</h3>
  <h4 class="font-m">This is a class .font-m</h4>
  <h5 class="font-s">This is a class .font-s</h5>
  <h6 class="font-xs">This is a class .font-xs</h6>

  <p>The @mixin font-size() is called on the preset font-size variables on each of the .font-size classes, but it can be called on any class to set a particular module's font-size.</p>
  <p>The @mixin font-size() takes three arguments &mdash; $font-size-number, $pct and $bp. The $pct and $bp variables allow you to change the font-size by a percentage at a certain breakpoint &mdash; but you don't have to use these variables! We've included a default $pct of 1, and a default $bp, $default-mobile, in the @font-size mixin. The font-size extensions and classes (i.e. %font-m and .font-m, etc.), include a $pct of .9 to reduce the font-size by 10% on small screens (i.e. the $default-mobile breakpoint). Change the size of your screen to preview how this mixin works.</p>
  <div class="code-block">
    <button class="button">Show Typography Code</button>
    <pre>
      <code>
      // Typography
      // ==========

      // Base Typography Variables
      $base-sans-serif: $helvetica;
      $base-serif: $georgia;

      // Font Sizes
      $base: 16;
      $xxl: 36;
      $xl: 28;
      $l: 22;
      $m: 18;
      $s: 14;
      $xs: 12;

      @mixin font-size($f, $pct:1, $bp:$default-mobile) {
        font-size: $f+px; // for IE8
        font-size: $f/$base+rem;

        @if $pct != 1 {
          @include media($bp) {
            font-size: $f*$pct+px; // for IE8
            font-size: $f*$pct/$base+rem;
          }
        }

      }

      .sans {
        font-family: $base-sans-serif;
      }

      .serif {
        font-family: $base-serif;
      }

      // These classes can be applied to any element
      // to set the font-size.
      %font-xxl,
      .font-xxl {
        @include font-size($xxl, .9);
      }

      %font-xl,
      .font-xl {
        @include font-size($xl, .9);
      }

      %font-l,
      .font-l {
        @include font-size($l, .9);
      }

      %font-m,
      .font-m {
        @include font-size($m, .9);
      }

      %font-base,
      .font-base {
        @include font-size($base, .9);
      }

      %font-s,
      .font-s {
        @include font-size($s, .9);
      }

      %font-xs,
      .font-xs {
        @include font-size($xs, .9);
      }

      </code>
    </pre>
  </div>

  <header id="#base-elements">
    <h3 class="font-m">Base elements</h3>
  </header>
  <p>The only place that base HTML elements should be given styles is in the helpers/_base.scss file. Few typography styles are assigned directly to HTML elements. All elements in the &lt;body&gt; will be in $base-sans-serif, font-size 16px, and line-height: 1 &mdash; unless otherwise specified.</p>
  <p>Headers, paragraphs, links and unordered lists are the only HTML elements with additional typography styles. The only style applied to &lt;h1&gt;-&lt;h6&gt; is "font-weight: 400," to normalize any bold settings that a browser may inadvertently apply. Also, because we often use unordered lists to create additional components, the base &lt;ul&gt; element does not include padding, margins or a list-style. For a bulleted list, include the class .bullet.</p>
  <p>This is a paragraph with a <a href="">fake link</a>.</p>
  <ul>
    <li>This is a regular list of items.</li>
    <li>Styles have been normalized, so you can use it as a building block.</li>
    <li>If you want pretty styles/margins/etc. use .bullet.</li>
  </ul>
  <ul class="bullet">
    <li>This list has class .bullet</li>
    <li>Because we like our bullet points dotted.</li>
  </ul>
  <div class="code-block">
    <button class="button">Show HTML</button>
    <pre>
      <code>
        &lt;p&gt;This is a paragraph with a &lt;a href=""&gt;fake link&lt;/a&gt;.&lt;/p&gt;
        &lt;ul&gt;
          &lt;li&gt;This is a regular list.&lt;/li&gt;
          &lt;li&gt;Styles have been normalized, so you can use it as a building block.&lt;/li&gt;
        &lt;/ul&gt;
        &lt;ul class="bullet"&gt;
          &lt;li&gt;This list has class .bullet&lt;/li&gt;
          &lt;li&gt;Because we like our bullet points dotted.&lt;/li&gt;
        &lt;/ul&gt;
      </code>
    </pre>
  </div>
  <div class="code-block">
    <button class="button">Show Base Styles</button>
    <pre>
      <code>
      /* Base Theme for HTML elements */

      body {
        background-color: $white;
        font-family: $base-sans-serif;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1;
        text-rendering: optimizelegibility;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 400;
      }

      p {
        @extend %font-base;
        font-family: $base-serif;
        font-weight: 400;
        line-height: 1.4em;
      }

      a {
        color: $href-teal;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      ul {
        list-style: none;
        padding: 0;

        &.bullet {
          list-style: disc;
          padding: 0 1em;
        }
      }
      </code>
    </pre>
  </div>
</article>
